

<h1>WELCOME <%= @student.name %></h1>
<h3>Congratulations!!!</h3>
<p>We have a cab that is available in your area and we have confirmed your booking.
<br>
You will shortly notified about payment option </p>


<h4>DETAILS: <br><br> LOCATION =  <%=@student.pick_uo_loc%> <br><br>
	CONTACT NO. : <%=@student.phone%> <br><br>
   CAB ARRIVAL TIMINGS FOR YOUR AREA: 7.00 a.m
</h4>
