<h1>

<%= @page_title %>

</h1>
<p>Hello Everybody. This is NorthCap University presenting you a platform where you can book your cabs monthly without directly dealing with the cab owners on a fair and a genuine price</p>

<address>
Contact for all your queries-
Latika Mam<br>
Senior - HOD<br>
CSE Department<br>
9871641478<br>
<br><br><br><br>

Prepared by <br>
Gaurav Gulati<br>
<br><br><br><br>




The NorthsCap University<br>
Sector-23A<br>
Gurgaon<br>
122001
</address>